<html>
<head><link href="{% static 'app/sign_up.css' %}" rel="stylesheet">
</head>
<body>
<div>
    <form>
      <label>If you don't have an account Sign up</label><br>
      <input type = "text" name = "username" placeholder="username" id = "username"><br>
      <input type = "text" name = "email" placeholder="email" id ="email"><br>
      <input type = "text" name = "password" placeholder="password"id = "password"><br>
      <input type="submit">
      <label>if already have an account  </label><a href="" action="{url for{log_in_r}">log in</a>
      </form>
</div>
  </body>
</html>
