{% load static %}
<!DOCTYPE html>
<html>
<head><link href="{% static 'log_in.css' %}" rel="stylesheet"></head>
<body>
<div>
    <form action ="log_in">
      <label>If you have an account Log in</label><br>
      <input type = "text" name = "username" placeholder="username" id = "username"><br>
      <input type = "text" name = "password" placeholder="password" id = password><br>
      <input type="submit"><br>
      <label>if don't have an account</label><a href="{% url 'sign_up_R' %} ">sign up</a>

      </form>
</div>
{{message}}
  </body>
</html>
