{% load static %}
<!DOCTYPE html>
<html>
<script type="text/javascript" src="{% static 'signup.js' %}"></script>
<head>
 <link rel="stylesheet" href="{% static 'sign_up.css' %}">
</head>
<body>
<div>
      <label>If you don't have an account Sign up</label><br>
      <input type = "text" placeholder="username" id = "username"><br>
      <input type = "text" placeholder="email" id ="email"><br>
      <input type = "text" placeholder="password" id = "password"><br>
      <input type = "text" placeholder="confirm password" id = "c_password"><br>
      <input type = "submit" id = "button">
      <br>
      <label>if already have an account  </label><a href="{% url 'log_in_R' %}">log in</a>
</div>
{{message}}
  </body>
</html>
