{% load static %}
<!DOCTYPE html>
<html>
<html lang="en">
<head>
 <link rel="stylesheet" href="{% static 'sign_up.css' %}">
</head>
<body>
<div>
    <form>
      <label>If you don't have an account Sign up</label><br>
      <input type = "text" name = "username" placeholder="username" id = "username"><br>
      <input type = "text" name = "email" placeholder="email" id ="email"><br>
      <input type = "text" name = "password" placeholder="password"id = "password"><br>
      <input type="submit">
      <br>
      <label>if already have an account  </label><a href="" action="{url for {log_in_r}">log in</a>
      </form>
</div>
  </body>
</html>
